{% extends 'base.html' %}
{% block content %}
    <div class="body">
        <h1>Enter your new data</h1>
        <div class="form">
            <form method="POST" action="{% url 'edit-profile' %}" enctype="multipart/form-data">

                    {{ form }}
{#                <label for="">Budget</label>#}
{#                {{ form.budget }}#}
{##}
{#                <label for="">First Name:</label>#}
{#                {{ form.first_name }}#}
{##}
{#                <label for="">Last Name:</label>#}
{#                {{ form.last_name }}#}
{##}
{#                <label for="">Profile Picture:</label>#}
{#                {{ form.profile_image }}#}

                {% csrf_token %}

                <input type="submit" value="Edit">

            </form>
        </div>
    </div>
{% endblock %}
