{% extends 'base.html' %}
{% block content %}

    <div class="body">
        <!-- Summary -->
        <div>
            <h1>Summary</h1>
            <ul class="expenses-list">
                <!-- User Budget -->
                <li class="blue">1600.00$</li>
                <!-- First Expense -->
                <li class="red"> - 900.00$</li>
                <!-- Second Expense -->
                <li class="red"> - 200.00$</li>
                <!-- Money Left -->
                <li class="green">= 500.00$ left</li>
            </ul>
        </div>

        <h1>My Expenses</h1>
        <a class="button add" href="{% url 'create-expanse' %}">Add Expense</a>
        <div class="expenses-container">

            {% for expanse in expenses %}
                <div class="expense-container">
                    <h2>{{ expanse.title }}</h2>
                    <img src="{{ expanse.expense_image }}"
                         alt="description">
                    <p>{{ expanse.description }}</p>
                    <div class="expense-detail">
                        <div>
                            <p>Price: {{ expanse.price|floatformat:2 }}$</p>
                        </div>
                        <div class="right">
                            <a class="button edit" href="{% url 'edit-expanse' pk=expanse.pk %}">Edit</a>
                            <a class="button delete" href="{% url 'delete-expanse' pk=expanse.pk %}">Delete</a>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

{% endblock %}