{% extends 'base.html' %}
{% block content %}

    <div class="body">
        <h1>Create Profile:</h1>
        <h1>Enter your data</h1>
        <div class="form">
            <form method="POST" action="{% url 'create-profile' %}">

                <label for="budget">Budget</label>
                {{ form.budget }}

                <label for="first_name">First Name:</label>
                {{ form.first_name }}

                <label for="Last_name">Last Name:</label>
                {{ form.last_name }}

                <label for="profile_image">Profile Image:</label>
                {{ form.profile_image }}
                {% csrf_token %}

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

{% endblock %}